.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.controller  button {
  padding: 5px;
  margin: 2px;
  border: 1px solid #666;
  background: #fff;
  border-radius: 10px;
  font-size: 11px;
  color: #333;
}
