html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #222;
  letter-spacing: -1px;
}

button {
  border: none;
}

input, button {
  outline: none;
}

.container {
  padding: 15px 20px 100px;
}

a {
  text-decoration: none;
  color: #222;
}

.input-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 7px -4px 14px 0px rgba(0,0,0,0.1);
}

.bottom-button {
  display: flex;
  width: 100%;
  height: 50px;
  background: #6dadd8;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
