.complete {
  text-decoration: line-through;
  color: #999;
}

.todo-item {
  display: grid;
  grid-gap: 5px;
  grid-row: 1;
  grid-template-columns: auto 20px;
  margin-bottom: 10px;
  align-items: center;
}

.todo-item:last-child {
  margin-bottom: 0;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  min-width: 50px;
  font-size: 10px;
  color: #999;
}

.todo {
  display: flex;
  align-items: center;
}

.todo > span {
  padding: 0 10px 0 5px;
  word-break: break-all;
  font-size: 15px;
}

.delete-button {
  background: none;
  height: 20px;
  color: #3381b5;
  font-weight: bold;
  font-size: 11px;
}
