.todo-item {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 22px auto 55px 20px;
  margin-bottom: 10px;
  align-items: center;
}

.todo-item:last-child {
  margin-bottom: 0;
}

.date {
  font-size: 10px;
  color: #999;
}

.text {
  position: relative;
  padding: 0 5px 0 10px;
  word-break: break-all;
  font-size: 15px;
  color: #222;
}

.complete .text {
  text-decoration: line-through;
  color: #999;
}

.modify-input {
  position: absolute;
  top: 50%;
  left: 10px;
  padding: 5px;
  transform: translateY(-50%);
  font-size: 15px;
  color: #222;
  width: calc(100% - 20px);
  border: 1px solid #eee;
}

.delete-button {
  background: none;
  height: 20px;
  color: #3381b5;
  font-weight: bold;
  font-size: 11px;
}

label {
  position: relative;
  text-align: center;
}

label input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.icon {
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ededed;
}

.icon svg {
  width: 12px;
  fill: #fff;
}

.complete .icon {
  background: #6dadd8;
}
