.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.filter  button {
  padding: 5px;
  margin: 2px;
  border: none;
  background: #eee;
  border-radius: 10px;
  font-size: 11px;
  color: #555;
}
