.controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.controller  button {
  padding: 5px 0;
  border-bottom: 1px solid #666;
  background: #fff;
  font-size: 11px;
  color: #333;
}

.controller button:last-child {
  margin-left: 5px;
}
